<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="webthemez">
        <title>Cuponera - Login</title>
        <script type="text/javascript">
            history.forward();
        </script>
        <!-- core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}" type="text/javascript"></script>
    </head>
    <body>
        <header id="header">
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo">Cuponera</a> --> 
                <h1> <a th:href="@{/clientes/inicio}" class="navbar-brand" style="text-decoration: none; color:white;">CUPONERA UDB</a></h1>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/clientes/inicio}">Inicio</a></li>  
                    <li><a th:href="@{/clientes/inicio}">Comprar Cupones</a></li>
                    <li><a th:href="@{/clientes/inicio}">Mis Cupones</a></li>

                    <li><a th:href="@{/clientes/inicio}">Carrito de Compras</a></li>                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/clientes/inicio}">Cambiar contraseña</a></li>
                            <li><a th:href="@{/clientes/inicio}">Cerrar Sesión</a></li>
                        </ul>
                    </li> 

                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->
        <section id="hero-banner">

        <section>
            <div class="panel panel-default col-lg-6 col-sm-offset-3" style="margin-top: 5%;" >
                <div class="row" >
                    <div class="thumbnail">
                        <h2 style="color:black;">Inicia sessión</h2>
                        <c:if test="${not empty sessionScope.exito}">
                            <div class="alert alert-success">
                                <p>${sessionScope.exito}</p>
                                <c:set var="exito" value="" scope="session"/>
                            </div>
                        </c:if>
                        <c:if test="${not empty sessionScope.fracaso}">
                            <div class="alert alert-danger">
                                <p>${sessionScope.fracaso}</p>
                                <c:set var="fracaso" value="" scope="session"/>
                            </div>
                        </c:if>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">                    
                        <form th:action="@{/login}" method="POST">
                            <div class="form-group">
                                <label for="correo" style="color: black;">Correo:</label>
                                <input type="text" name="correo" id="correo" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password" style="color: black;">Contraseña:</label>
                                <input type="password" name="password" id="password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Iniciar sesion</button>
                                <small><a th:href="@{/registrarse}">¿No tienes cuenta? registrate aqui!</a></small> 
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </section>
        <script>
            <c:if test="${not empty Exito}">
            alertify.success('${Exito}');
                <c:set var="Exito" value="" scope="session"></c:set>
            </c:if>
        </script>
        <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    &copy; 2018 CUPONERIA UDB. Template by <a target="_blank" href="https://webthemez.com/sports-fitness/" title="Free Bootstrap Themes and HTML Templates">WebThemez.com</a>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    </body>
</html>
