<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Agregar empresa</title>
<link th:href="@{/css/estiloagregarempresas.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="menuContainer">
		<header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img th:src="@{/images/logo.png}" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                       
                        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Empresas <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="${pageContext.request.contextPath}/administrador.do?operacion=nuevaEmpresa">Agregar empresas</a></li>
                        <li><a href="${pageContext.request.contextPath}/administrador.do?operacion=listarEmpresa">Ver empresas</a></li>
                    </ul>
                </li>
		        
                        <li class="scroll"><a href="${pageContext.request.contextPath}/administrador.do?operacion=listarRubro">Ver Rubros</a></li>
                        
                        <li class="scroll"><a href="${pageContext.request.contextPath}/administrador.do?operacion=verClientes">Ver clientes</a></li>
                            
                        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Administrador <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">

                        <li><a href="${pageContext.request.contextPath}/administrador.do?operacion=updateC">Cambiar contraseña</a></li>
                        <li><a href="${pageContext.request.contextPath}/administrador.do?operacion=listarRubro">Cerrar session</a></li>


                    </ul>
                </li>                      
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
	</div>





<form class="contenform" action="${pageContext.request.contextPath}/administrador.do" method="post"> 
            <h1>Registro empresas</h1>
            <c:if test="${not empty listaErrores}">
                    <div class="alert alert-danger">
                        <ul>
                            <c:forEach var="errores"  items="${requestScope.listaErrores}">
                                <li>${errores}</li>
                            </c:forEach>
                        </ul>
                    </div>
                    </c:if>
            <input type="hidden" value="agregarEmpresa" name="operacion">
            <div class="well well-sm" style="color:#C2185B;"><strong><span class="glyphicon glyphicon-asterisk"></span>Campos requeridos</strong></div>
            <div class="form-group">            
                <label for="codigo">Nombre de la empresa:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="nombreEmpresa"  id="codigo" value="${empresa.nombreEmpresa}" placeholder="Ingresa el nombre de la empresa" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
             <div class="form-group">            
                <label for="codigo">Nombre del contacto:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="nombreContacto"  id="codigo" value="${empresa.nombreContacto}" placeholder="Ingresa el nombre del contacto" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Correo:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="correo"  id="codigo" value="${usuario.correo}" placeholder="Ingresa el correo de la empresa" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
             <div class="form-group">            
                <label for="codigo">Dirección:</label>
                <div class="input-group col-md-12">
                    <textarea class="form-control" placeholder="Ingresa la dirección" name="direccion" style="text-align-last:start; ">${empresa.direccion}</textarea>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Telefono:</label>
                <div class="input-group">
                    <input type="tel" class="form-control" name="telefono"  id="codigo" value="${empresa.telefono}" placeholder="Ingresa el numero de telefono" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Rubro al que pertenece:</label>
                <div class="input-group">
                    <select class="form-control" name="rubro">
                        <c:forEach var="rubros" items="${requestScope.listaRubros}">
                            <option value="${rubros.idRubro}">${rubros.rubro}</option>
                        </c:forEach>
                    </select>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Comisión:</label>
                <div class="input-group">
                    <input type="number" step="any" class="form-control" name="comision"  id="codigo" value="${empresa.comision}" placeholder="Ingresa la comisión" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <button class="btn btn-info" type="submit">Agregar</button>
        </form>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2018 Company Name. Template by <a target="_blank" href="https://webthemez.com/sports-fitness/" title="Free Bootstrap Themes and HTML Templates">WebThemez.com</a>
                    </div>
                    <div class="col-sm-6">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>