<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Modificar la empresa</title>
<link th:href="@{/css/estiloagregarempresas.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}" type="text/javascript"></script>
</head>
	<body id="home">
        <div th:include="/administrador/Menu"/>

        <form role="form"  method="POST" action="#" class="contenform"
                    th:action="@{administrador/modificar}" th:object="${empresa}">
            <h1>Registro empresas</h1>
            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
            
            <input type="hidden" value="editarEmpresa" name="operacion">
            <input type="hidden" th:field="*{codigoEmpresa}" name="codigoEmpresa">
            <div class="well well-sm" style="color:#C2185B;"><strong><span class="glyphicon glyphicon-asterisk"></span>Campos requeridos</strong></div>
            <div class="form-group">            
                <label for="codigo">Nombre de la empresa:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="nombreEmpresa"  id="codigo" th:field="*{nombreEmpresa}" placeholder="Ingresa el nombre de la empresa" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Nombre del contacto:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="nombreContacto"  id="codigo" th:field="*{nombreContacto}" placeholder="Ingresa el nombre del contacto" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>

            <div class="form-group">            
                <label for="codigo">Dirección:</label>
                <div class="input-group col-md-12">
                    <textarea class="form-control" placeholder="Ingresa la dirección" name="direccion" style="text-align-last:start; " th:field="*{direccion}"></textarea>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Telefono:</label>
                <div class="input-group">
                    <input type="tel" class="form-control" name="telefono"  id="codigo" th:field="*{telefono}" placeholder="Ingresa el numero de telefono" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Rubro al que pertenece:</label>
                <div class="input-group">
                    <select class="form-control" name="rubro" 
                    id="rubro" th:field="*{rubros.idRubro}">
                        <option th:each="rubro : ${listaRubros}" 
                        th:utext="${rubro.rubro}" th:value="${rubro.idRubro}">
                        </option>
                        
                    </select>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">            
                <label for="codigo">Comisión:</label>
                <div class="input-group">
                    <input type="number" step="any" class="form-control" name="comision"  id="codigo" th:field="*{comision}" placeholder="Ingresa la comisión" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <button class="btn btn-info" type="submit">Agregar</button>
        </form>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2018 Company Name. Template by <a target="_blank" href="https://webthemez.com/sports-fitness/" title="Free Bootstrap Themes and HTML Templates">WebThemez.com</a>
                    </div>
                    <div class="col-sm-6">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
        <script>

            $("#rubro option[value=" + '${empresa.idRubro}' + "]").attr("selected", true);
           
        </script>
</body>
</html>